<div class="header-bar">
  <div class="header-background">
    <div class="header">
      <h1>Burger Quest!</h1>
    </div>
    <div class="header">
      <h3>The quest to devour the finest burgers in the land</h3>
    </div>
  </div>
</div>

<div class="crest-box row d-flex justify-content-center">
  <div class="col-4 d-flex justify-content-center">
    <img class="crest" src="/assets/burgerquestcrest.png" alt="burger-quest-crest">
  </div>
</div>

<hr class="buffer-top">

<div class="container list-background">
  <div class="row head-room">
    <div class="col-6 d-flex justify-content-center cent-text">
      <h2>Burgers to Devour!</h2>
    </div>
    <div class="col-6 d-flex justify-content-center cent-text">
      <h2>Devoured Burgers!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true }}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6 d-flex justify-content-center">
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
          {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<hr class="buffer">

<div class="row d-flex justify-content-center">
  <div class="col-6 d-flex justify-content-center cent-text">
    <h2>Add To The Menu</h2>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <form class="create-form">

    <div class="form-group">
      <label for="burg">New Burger:</label>
      <input type="text" id="burg" name="burger_name">
    </div>
    <div class="row d-flex justify-content-center">
      <button type="submit">Embark</button>
    </div>
  </form>
</div>